<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
<link rel="stylesheet" href="/assets/style/style.css">
    <title>Factura De Venta</title>
</head>
<body class="bg-aguacate">
    
   <div class="row titulofactura">
    <div class="col-3 ">
        <img src="/assets/img/LogoSinfondo.png" alt="">
    </div>
    <div class="col-9 align-self-center text-white fw-bold ">
        <h1 class="text-center alturatitulofactura">Factura De Venta</h1>
    </div>
   </div>

   <main class="my-5">

    <div class="row container justify-content-end">
        <div class="col-5 d-flex flex-row mx-5">
                <h3 class="mx-5 colorbotonfactura">Serial</h3>
                <input type="text" value="" class="rounded">
        </div>
        <div class="col-5 d-flex flex-row mx-5 justify-content-end">
                <h3 class="mx-5 colorbotonfactura">Nit</h3>
                <input type="text" name="" id="" class="rounded">
        </div>
    </div>
    

        <div class="row my-5 ">
            <div class="col d-flex flex-row justify-content-around ">
                <h3 class=" colorbotonfactura">Nombre Cliente</h3>
                <input type="text" name="" id="" class="rounded porcentajefactura">
            </div> 
        </div>
        <div class="row my-5">
            <div class="col d-flex flex-row justify-content-around ">
                <h3 class=" colorbotonfactura">Vendedor</h3>
                <input type="text" name="" id="" class="rounded porcentajefactura">
            </div> 
        </div>

        <div class="row my-3 mx-4 m-lg-5">
            <div class="col-5  align-self-center " style="margin-left: 130px;">
                <h3 class=" colorbotonfactura porcentajefactura mt-5 my-5 mx-5 align-self-center">Producto</h3>

            </div>
            <div class="col-6">
                <div class="row row-cols-12 row-cols-md-4 mt-3">
                    <div class="col col-12 col-md-3 shadow rounded-circle">
                        <img src="/assets/img/hummusnormal-removebg-preview.png" alt="" class="imagenfactura mx-auto m-xxl-auto d-block" id="fotofactura"> 
                        <h2 class="text-center">500gr</h2>
                    </div>
                    <div class="col col-12 col-md-3 shadow rounded-circle">
                        <img src="/assets/img/hummusnormal-removebg-preview.png" alt="" class="imagenfactura mx-auto m-xxl-auto d-block " id="fotofactura"> 
                        <h2 class="text-center">800gr</h2>
                    </div>
                    <div class="col col-12 col-md-3 shadow rounded-circle">
                        <img src="/assets/img/hummuspicante.png" alt="" class="imagenfactura mx-auto m-xxl-auto d-block" id="fotofactura"> 
                        <h2 class="text-center">500gr</h2>
                    </div>
                    <div class="col col-12 col-md-3 shadow rounded-circle">
                        <img src="/assets/img/hummuspicante.png" alt="" class="imagenfactura mx-auto m-xxl-auto d-block" id="fotofactura"> 
                        <h2 class="text-center">800gr</h2>
                    </div>
                </div>

                <div class="row row-cols-12 row-cols-md-4 mt-3">
                    <div class="col col-12 col-md-3 shadow rounded-circle">
                        <img src="/assets/img/jolynormal.png" alt="" class="imagenfactura mx-auto m-xxl-auto d-block " id="fotofactura"> 
                        <h2 class="text-center">500gr</h2>
                    </div>
                    <div class="col col-12 col-md-3 shadow rounded-circle">
                        <img src="/assets/img/jolynormal.png" alt="" class="imagenfactura mx-auto m-xxl-auto d-block " id="fotofactura"> 
                        <h2 class="text-center">800gr</h2>
                    </div>
                    <div class="col col-12 col-md-3 shadow rounded-circle">
                        <img src="/assets/img/jolypicante.png" alt="" class="imagenfactura mx-auto m-xxl-auto d-block " id="fotofactura"> 
                        <h2 class="text-center">500gr</h2>
                    </div>
                    <div class="col col-12 col-md-3 shadow rounded-circle">
                        <img src="/assets/img/jolypicante.png" alt="" class="imagenfactura mx-auto m-xxl-auto d-block " id="fotofactura"> 
                        <h2 class="text-center">800gr</h2>
                    </div>
                </div>
            </div> 
        </div>
        
        <div class="row my-5">
                <div class="col d-flex flex-row justify-content-around ">
                    <h3 class=" colorbotonfactura text-center align-self-center ">Forma De Pago</h3>
                   <span><img src="/assets/img/dar-dinero.png"><p>Efectivo</p></span> 
                    <span><img src="/assets/img/transferencia-de-dinero.png"><p>Transferencia</p></span>
                </div>
        </div>

        <div class="row">

        </div>

        




   </main>

    


<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</body>
</html>