
*{
    text-align: justify;
}
h2{
    text-align: center;
}
.estrella{
    width: 30px;
}
.bg-aguacate{
    background: url('../img/fondo.svg');
}
.imgp{
    width: 300px;
    height: 300px;
    cursor: pointer;
}
.main-div-btn-wsp{
    width: 50px;
    height: 50px;
    position: fixed;
    line-height: 55px;
    bottom: 30px;
    right: 30px;

}
.main-div-iamgen-wsp{
    width: 50px;
    height: 50px;
}
.bg-green{
 background-color:#b4bc1c ;
}
.img-logo{
    width: 180px;
}
.imgbanner{
    width:100%;
    height: 700px;
   

}
.img-logo-whattsap{
    width: 45px;
}
.bg-brown{
    background: rgb(71, 44, 9);
}
.btn-brown-active{
    border-radius: 15px;
    border: 1px;
    background: rgb(71, 44, 9,0.7);
    z-index: 1;
}
.btn-brown{

    border-radius: 15px;
    border: 1px;
    background: rgb(71, 44, 9);
    z-index: 1;
}
.btn-brown:hover{
    background: rgb(71, 44, 9,0.7);
}
.btn-brown-productos{
    border-radius: 15px;
    text-align: center;
    border: 1px;
    background: rgb(71, 44, 9);
    z-index: 1;
}
.btn-brown-productos:hover{
    background: rgb(71, 44, 9,0.7);
}
.btn-brown-login{
  
    border-radius: 15px;
    border: 1px;
    background: rgb(71, 44, 9);
    z-index: 1;
}
.btn-brown-login:hover{
    background: rgb(71, 44, 9,0.7);
}
li a{
    display: block;
    width: 170px;
    text-align: center;
}
.pactiva{
    background-color: rgb(200, 241, 145);
    border-radius: 15px;
    border: 1px;
    z-index: 1;
}
.btitulo{
    height: 80px;
}
.btitulo h2{
    line-height: 80px;
}

.titulofactura{
    background-color: #b4bc1c;
}
.alturatitulofactura{
    font-size: 70px;
}
.bg-blanco{
    background-color: white;
    min-height: 350px;
    max-height: 350px;
}
.colorbotonfactura{
    background-color: #7d3d17;
    color: white;
    width: 20%;
    padding: 0px 15px 0px 15px ;
   
}


.porcentajefactura{
    width: 30%;
}
.imagenfactura{
    z-index: initial;
width: 150px;
height: 150px;
cursor: pointer;
}


.sectionStock{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}
.stockBoton {
    width: 20%;
}
.stockCampos {
    background-color: #7d3d17;
    color: white;
    text-align: center;
    width: 50%;
    border-radius: 10%;
    padding: 0px 15px 0px 15px ;
}

.stockInput{

    width: 80%;
}

.stockBoton {
    display: flex ;
    justify-content: center;
}
.linkli{
    text-decoration: none;
}